version: '3.8'

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: idp_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - idp_network

  app:
    build: .
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "8081:8080"
    networks:
      - idp_network

volumes:
  postgres_data:

networks:
  idp_network:
    driver: bridge
